body {
  font-family: sans-serif;
}
#app {
  background-color: red;
}
h1 {
  color: blue;
}

table,
td,
th {
  background-color: rgb(186, 210, 219);
  border: 1px solid black;
  border-collapse: collapse;
}
